.body {
    margin: 10px;
    font-family: "Times New Roman", serif;
}

.area1 {
    width: 460px;
    height: 26px;
    border-radius: 5px;
}


.area2 {
    height: 220px;
    width: 460px;
    border-radius: 5px;
}

p {
    font-size: 20px;
    font-style: italic;
    color: #FDBE33;
    padding-left: 100px;
    margin: 10px;
}

.new {
    background: #9EBEF9;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
}

h6 {
    margin: 0;
    padding: 0;
    color: #214AF9;
}
h2 {
    margin: 10px;
}

.btn3 {
    margin-left: 150px;
}


