.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-family: cursive;

}

.dialog :hover {
    transform: scale(1.15);
    color: #9EBEF9;

}

.messages {
    padding: 10px;
    margin: 20px;
}

.dialogsItems a {
    text-decoration: none;
    color: #FBAC69;
}

.dialogsItems img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
